/vendor/
/node_modules/
/.idea/
/.vscode/
/.phpunit.cache
/coverage/
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock
/.phpstan.cache
/.rector_cache
db
*.swp
*.swo
*~
package-lock.json
.DS_Store
Thumbs.db
*.sublime-project
*.sublime-workspace
.env
.env.backup
.env.production
